node_modules
.env
.DS_Store
*.log
*.sqlite
*.db
dist/
build/
coverage/
.vscode/
.idea/
*.swp
*.tmp
*.bak
*.local
npm-debug.log*
yarn-error.log*
out/
.next/
*.pdf
__pycache__/
*.pyc
*.ipynb_checkpoints
*.cache
*.lock
*.tgz
*.zip
*.tar
*.tar.gz
*.egg-info/
*.test.js
*.test.ts
